# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Dash
assets/.DS_Store

# Docker
*.dockerignore

# Data
*.csv
*.parquet

# Secrets
config.py